<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}
    
{% block content %}
    <h2>About this page</h2>

  <p>
    Welcome to the Quote of the Day application!
    </p>

    <p>
        This application displays quotes by and images of 
        <a href="https://en.wikipedia.org/wiki/Oscar_Wilde" target="_blank">Oscar Wilde</a>.
    </p>

    <p>
        Oscar Wilde (1854–1900) was an Irish poet, playwright, and novelist, 
    known for his sharp wit and brilliant use of language. 
    He wrote celebrated works such as 
    <a href="https://en.wikipedia.org/wiki/The_Picture_of_Dorian_Gray" target="_blank">The Picture of Dorian Gray</a> 
    and 
    <a href="https://en.wikipedia.org/wiki/The_Importance_of_Being_Earnest" target="_blank">The Importance of Being Earnest</a>. 
    Wilde’s clever sayings and epigrams have made him one of the most quotable figures in English literature, 
    and his words remain as relevant and entertaining today as they were in the 19th century.
    </p>

{% endblock %}
 
