<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}
    
{% block content %}
    <h1>About this page</h1>

    <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut voluptates, quae dolore quod nihil rem, non ipsam a dolorum aut amet exercitationem minus culpa, minima iste dolorem iusto unde. Cumque?
    </p>
    <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda odio earum nesciunt doloribus veniam at ducimus. Mollitia illo, voluptates exercitationem similique commodi minima eaque voluptatum! Voluptatum commodi quaerat nobis repellat?
    </p>
{% endblock %}
 
