<!-- templates/mini_insta/base.html -->
{% load static %}

<html>
    <head>
        <title>Mini Instagram</title>
        <link rel="stylesheet" href="{% static 'style_insta.css' %}">
    </head>

  <!-- substitute in the specific content here -->
        {% block content %}
        {% endblock %}
<footer>
    <hr>
    <a href="{% url 'mini_insta:show_all_profiles' %}">← Back to All Profiles</a>
 {# Only show "Home / Feed" if 'profile' exists in context #}
  
  {% if profile %}
    · <a href="{% url 'mini_insta:show_feed' profile.pk %}">Home / Feed</a>
    · <a href="{% url 'mini_insta:show_profile' profile.pk %}">Profile</a>
    | <a href="{% url 'mini_insta:create_post' profile.pk %}">+ Create Post</a>
  {% endif %}
  </footer>
    </body>

</html>
