{% extends "mini_insta/base.html" %}
{% block content %}
<h2>Create your account</h2>
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <p>
    <label>Username</label><br>
    {{ form.username }} {{ form.username.errors }}
  </p>
  <p>
    <label>Email (optional)</label><br>
    {{ form.email }} {{ form.email.errors }}
  </p>
  <p>
    <label>Password</label><br>
    {{ form.password1 }} {{ form.password1.errors }}
  </p>
  <p>
    <label>Confirm Password</label><br>
    {{ form.password2 }} {{ form.password2.errors }}
  </p>
  <hr>
  <p>
    <label>Display name</label><br>
    {{ form.display_name }} {{ form.display_name.errors }}
  </p>
  <p>
    <label>Bio</label><br>
    {{ form.bio_text }} {{ form.bio_text.errors }}
  </p>
  <p>
    <label>Profile image URL</label><br>
    {{ form.profile_image_url }} {{ form.profile_image_url.errors }}
  </p>

  <button type="submit">Register</button>
</form>
<p>Already have an account? <a href="{% url 'mini_insta:login' %}">Log in</a></p>
{% endblock %}
