{% extends 'mini_insta/base.html' %}

{% block content %}
<main class="grid profile-header">

  <!-- Profile image -->
  <div class="profile-image">
    {% if profile.profile_image_url %}
      <img src="{{ profile.profile_image_url }}" alt="{{ profile.display_name }}">
    {% else %}
      <img src="https://via.placeholder.com/200" alt="No image">
    {% endif %}
  </div>

  <!-- Profile info -->
  <div class="profile-info">
    <div class="profile-header-item">
      <h2>{{ profile.display_name }}</h2>
      <h3>@{{ profile.username }}</h3>
    </div>

    <div class="profile-header-item">
      <p>{{ profile.bio_text }}</p>
    </div>

    <div class="profile-header-item">
      <small>Joined: {{ profile.join_date }}</small>
    </div>
  </div>

  <div>
        <h2>Posts</h2>
        <!-- Display the posts about this profile -->
        <!-- {{profile.get_all_posts}} -->
        {% for post in profile.get_all_posts %}
           
             <!-- clickable image linking to detail page -->
      <a href="{% url 'mini_insta:show_post' post.pk %}">
        {% if post.get_all_photos.0.image_url %}
          <img src="{{ post.get_all_photos.0.image_url }}" alt="{{ post.caption }}">
        {% else %}
          <img src="https://via.placeholder.com/200" alt="No image">
        {% endif %}
      </a>
            
        {% endfor %}
    </div>

</main>
{% endblock %}
